<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153006184224-4tdcag7tv7d8i9v6l6nmvo20aljj6in1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153006184224-4tdcag7tv7d8i9v6l6nmvo20aljj6in1</string>
	<key>API_KEY</key>
	<string>AIzaSyDC00sV98VHIxYykhd_eUcbkGpaCEy2J7c</string>
	<key>GCM_SENDER_ID</key>
	<string>153006184224</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safik.peternakan-sapi</string>
	<key>PROJECT_ID</key>
	<string>peternakan-sapi-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>peternakan-sapi-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153006184224:ios:3ee77da4cd8ce9fc76a945</string>
</dict>
</plist>